* {
  margin: 0;
  padding: 0;
}

body {
  font: 13px Helvetica, Arial;
}

ul {
  list-style-type: none;
}

#page-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

#chat-window {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  border: 2px solid #0066ff;
  border-radius: 5px;
}

#chat-window-header {
  height: 30px;
  line-height: 25px;
  font-size: 17px;
  padding-left: 5px;
  background-color: #0066ff;
  color: #fff;
}

#chat-window-footer {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #0066ff;
  height: 30px;
}

#message-input {
  flex: 9;
  height: 28px;
  margin-top: 2px;
  margin-left: 1px;
  border-bottom-left-radius: 3px;
  border: none;
  font-size: 17px;
  padding-left: 5px;
}

#message-input:focus {
  outline: none;
}

#send-button {
  flex: 1;
  border: none;
  background-color: #0066ff;
  color: #fff;
  font-size: 16px;
}

#send-button:focus {
  outline: 1px solid #1a75ff;
}

#messages {
  padding: 5px;
  font-size: 15px;
}
